<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<title><%= title %></title>

    <% include ./includes/head %>
</head>
<body>

<header>
    <% include ./includes/header %>
</header>

<main>
	<div class="middle-content" id="indexContent">
  <form class="layui-form" action="">
  <div class="layui-form-item" style="margin-top:20px;">
    <div class="layui-input-inline">
      <input type="text" name="username" required placeholder="请输入用户名" id="demoReload" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-input-inline">
      <button class="layui-btn" lay-submit lay-filter="formQuery"  data-type="reload" @click.prevent="query()">查询</button>
    </div>
  </div>
  <table class="layui-table" id="indexTable" lay-filter="test">
  <colgroup>
    <col width="150">
    <col width="400">
    <col width='150'>
  </colgroup>
  <thead>
    <tr>
      <th>用户名</th>
      <th>加入时间</th>
      <th>密码</th>
      <td>操作</td>
    </tr> 
  </thead>

  <tbody id="tbodyLoad">
  <tr v-for="el in data" v-bind:id="el._id">
    <td>{{el.name}}</td>
    <td>{{el.time}}</td>
    <td>{{el.password}}</td>
    <td>
       <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </td>
  </tr>
   <!-- 	<% for(var i=0;i<data.length;i++) {%>
    <tr id="<%= data[i]._id %>" >

	      	<td> 
      			<%= data[i].name %>
	      	</td>
	      	<td>
	      		<% if(data[i].date == void 0 ) {%>
	      				未知
	      			<% }else{ %>
	      				<%= data[i].date %>
	      				<%} %> 
	      	</td>
	      	<td>
	      	<%= data[i].password %>
	      	</td>
	      	<td>
	      	 <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	      	</td>
    </tr>

	      <% }  %> -->
  </tbody>
</table> 
</form>
	</div>
      
</main>

<footer>
    <% include ./includes/footer %>
</footer>
<script>
  var IndexData =JSON.parse('<%- JSON.stringify(data)%>');
  // for(var i=0;i<inData.length)

</script>
<script src="js/index.js"></script>

</body>
</html>