//- layout.pug
doctype html
html
  //- 引入的css,js等头部文件
  include includes/head
  link(rel='stylesheet',href='css/login.css')
  body
    div(class='login-container')
     form(class="layui-form" action="")
      div(class='layui-form-item')
       label(class='layui-form-label') 账号
       div(class='layui-input-block')
        input(
         type="text" 
         name="title" 
         required  
         lay-verify="required" 
         placeholder="请输入标题" 
         autocomplete="off" 
         class="layui-input"
        )
      div(class='layui-form-item' style="margin-top:30px;")
       label(class='layui-form-label') 密码
       div(class='layui-input-block')
        input(
         type="text" 
         name="title" 
         required  
         lay-verify="required" 
         placeholder="请输入标题" 
         autocomplete="off" 
         class="layui-input"
        )
      div(class='layui-form-item' style='margin-top:30px;')
       div(class='layui-input-block')
        button(class="layui-btn" lay-submit lay-filter="formDemo") 登录

